{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Create a new task</h1>
    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}     <!--Using form.py as content for this page-->
        <button>Create</button>
      </form>
    </div>
</main>

{% endblock content %}
