{% extends 'base.html' %}

{% block content %}
    <main>
    <div>
    <h1>My Tasks</h1>
        <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Is completed</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in mytasks %}
        <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.start_date|date:"N d, Y" }}</td>
        <td>{{ task.due_date|date:"N d, Y" }}</td>
        <td>{{ task.is_completed|yesno }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <p>You have no tasks</p>
    </div>
  </main>
{% endblock content %}
