{% extends 'base.html' %}

{% block content %}
    <main>
    <div>
      <h1>{{ tasks.name }}</h1>
      <p>{{ projects.description }}</p>
      <p><a href="{% url 'create_task' %}">create a new task</a><p>
      <p>testing: {{ projects.id|length }}</p>
        <h2>Tasks</h2>
        <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Assignee</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Is completed</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for project in tasks %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.assignee }}</td>
            <td>{{ project.start_date|date:"N d, Y" }}</td>
            <td>{{ project.due_date|date:"N d, Y" }}</td>
            <td>{{ project.is_completed|yesno }}</td>
            <td><td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% if projects is not True %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
  </main>
{% endblock content %}
