{% extends 'base.html' %}

{% block content %}
    <main>
    <div>
    <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        {% if user.is_authenticated %}
        <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Number of tasks </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        {% for project in projects %}
        <tbody>
        <tr>
          <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
            <td>{{ project.tasks.all|length }}</td>
        </tr>
        </tbody>
        </table>
        {% endfor %}
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
  </main>
{% endblock content %}
